<!DOCTYPE html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="./addressbook.js"></script>
    <link rel="stylesheet" href="addressbook.css"/>
    <title>Address book</title>
</head>
<body>
<div ng-controller="addressBookController">
    <span>You've got {{countContacts()}} contacts. You actually like {{countFriends()}} of them.</span>
    <form ng-submit="addContact()">
        <input type="text" ng-model="contactName" placeholder="Name"/>
        <input type="text" ng-model="contactPhoneNum" placeholder="Phone number"/>
        <input type="checkbox" ng-model="contactIsFriend"/>Good pal?
        <input type="submit" class="btn-primary" value="New contact"/>
    </form>
    <ul>
        <li ng-repeat="person in addressBook">
            {{person.name}} -- {{person.phoneNum}}
        </li>
    </ul>
    <div ng-hide="addressBook.length">
        <span>Wow, you really suck. No friends?</span>
    </div>
    <div ng-show="tooManyFriends()">
        <span>Wow, you're really popular!!</span>
    </div>
</div>

</body>
</html>